<h1><%= @attraction.name %></h1>




<% if @user.admin == true %>
<button class="btn btn-success">
  <%= link_to 'Edit Attraction', edit_attraction_path(@attraction) %>
  </button>
<% else %>
<button class="btn btn-success">
  <%= link_to 'Go on this ride', take_ride_path(@attraction), method: :post %>
  </button>
<% end %>

